<!------------ CATALOGUE JEUX BOIS ------------>

<section id="cataBois">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Catalogue jeux de société </h1>
            </div>
        </div>
        {{#each jeuxSocieteDB}}
        <div class="row card">
            <div class="col-md-12">
                <div class="card" style="width: 18rem;">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.titre}}</h5>
                        <p class="card-text">{{this.description}} </p>
                        <a href="#" class="btn btn-primary">voir plus</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each }}


    </div>
</section>


<style>
    #cataBois {
        margin-top: 100px;
    }

    .card {
        margin: 50px 0;
    }
</style>