body {
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between
}
.brdt {
    border-top: 2px solid black;
    margin: 0 200px;
}
h2 {
    margin: 40px 0;
}