<footer class="bg-secondary ffb">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Partenaires</h3>
                <a href="#" class="text-info">Partenaires1</a><br>
                <a href="#" class="text-info">Partenaires2</a><br>
                <a href="#" class="text-info">Partenaires3</a>
            </div>
            <div class="col-md-4">
                <h3>Autres</h3>
            </div>
            <div class="col-md-4">
                <h3>Autres</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <p>© 2020-Denoual Kevin | <a href="#" class="text-info">Mentions légales</a></p>
            </div>
        </div>
    </div>
</footer>

