<footer class="bg-secondary ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Partenaires</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="https://www.facebook.com/LaGuildeDesJoueursLeMans/" class="text-info"><img src="/assets/logoguilde.png" alt="" class="logo"></a>
            </div>
            <div class="col-md-4">
                <img src="/assets/logosarthe.png" alt="" class="logo">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <p>© 2020-Denoual Kevin | <a href="#" class="text-info">Mentions légales</a></p>
            </div>
        </div>
    </div>
</footer>

<style>
    .logo {
        width: 200px;
        height: 40px;
    }
</style>



